.pop-card{
    margin: 15px 15px;
    width: 250px;
    background-color: #FFB71B;
    border: 0px;
    padding: 0px;
}
.pop-cardFooter{
    background-color: #002A3A;
    color: white;
    font-weight: bold;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-radius: 0 0 3px 3px;
}
.btn{
    color: white;
}
#pop-cartInvoice{
    color: #ffff;
    display: flex;
    align-content: center;
}